In [1]:
#資料檔路徑(資料檔：i_filepath，完成檔：o_filepath，內文說明檔：c_filepath)
filepath = '/content/drive/MyDrive/Python-for-Titanic/Ch09/'
i_filepath = filepath 
o_filepath = filepath + '完成檔/'
c_filepath = filepath + '內文說明檔/'

In [2]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
df=pd.read_csv(i_filepath + 'train.csv')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df['Age']=df['Age'].fillna(df['Age'].mean()) 
df['Embarked']=df['Embarked'].fillna('S') 
df=df.drop('Cabin', axis=1) 
print('重複值：', df[df.duplicated()]) #檢查有無重複值
df['Sex']=df['Sex'].map({'female':0, 'male':1}) 
df['Embarked']=df['Embarked'].map({'S':0, 'C':1, 'Q':2}) 
df.head()

重複值： Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Embarked]
Index: []

   PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0            1         0       3  ...         A/5 21171   7.2500         0
1            2         1       1  ...          PC 17599  71.2833         1
2            3         1       3  ...  STON/O2. 3101282   7.9250         0
3            4         1       1  ...            113803  53.1000         0
4            5         0       3  ...            373450   8.0500         0

[5 rows x 11 columns]

In [5]:
df.head()

   PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0            1         0       3  ...         A/5 21171   7.2500         0
1            2         1       1  ...          PC 17599  71.2833         1
2            3         1       3  ...  STON/O2. 3101282   7.9250         0
3            4         1       1  ...            113803  53.1000         0
4            5         0       3  ...            373450   8.0500         0

[5 rows x 11 columns]

In [6]:
from sklearn.neighbors import KNeighborsClassifier

In [7]:
df_X = df[['Sex','Pclass']]
df_y = df['Survived']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size = 0.2)

In [9]:
k = 1
knn=KNeighborsClassifier(n_neighbors=k)

In [10]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [11]:
print('----KNN模式訓練後，取test data 進行分類的準確率計算-------')
print('準確率:',knn.score(X_test,y_test))

----KNN模式訓練後，取test data 進行分類的準確率計算-------
準確率: 0.7318435754189944

In [12]:
s = []
for i in range(3,11):
  k=i
  knn=KNeighborsClassifier(n_neighbors=k)  
  knn.fit(X_train, y_train)  # 用 training data 去訓練模型
  print('k =',k,' 準確率:',knn.score(X_test,y_test))  #用 test data 檢測模型的準確率
  s.append(knn.score(X_test,y_test))

k = 3  準確率: 0.6759776536312849
k = 4  準確率: 0.8044692737430168
k = 5  準確率: 0.7486033519553073
k = 6  準確率: 0.7486033519553073
k = 7  準確率: 0.7486033519553073
k = 8  準確率: 0.8044692737430168
k = 9  準確率: 0.8044692737430168
k = 10  準確率: 0.8044692737430168

In [13]:
k = 4
knn=KNeighborsClassifier(n_neighbors=k)  
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [14]:
print('分類的預測結果：')
pred = knn.predict(X_test) 
print(pred) #觀察預測結果
print('真實數據：')
print(y_test.values)  #觀察真實數據(Test data)

分類的預測結果：
[0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1
 1 0 0 0 0 0 1 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0]
真實數據：
[0 1 0 0 1 1 1 1 1 1 0 0 1 1 0 1 0 0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 1 0 1 1 0
 1 1 1 0 0 0 0 0 0 0 1 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1
 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 0 1 1
 1 0 0 0 0 1 1 1 0 1 1 0 1 0 1 1 0 1 1 0 1 1 1 1 0 1 0 0 0 1 0]

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.8044692737430168

In [16]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred)

array([[112,   0],
       [ 35,  32]])

In [17]:
from sklearn.model_selection import cross_val_score
s=cross_val_score(knn, df_X, df_y, scoring='accuracy', cv=10)
print('準確率：',s)
print('平均準確率：',s.mean())
print('最高：',s.max())
print('最差：',s.min())

準確率： [0.74444444 0.79775281 0.76404494 0.83146067 0.82022472 0.79775281
 0.80898876 0.75280899 0.82022472 0.76404494]
平均準確率： 0.7901747815230962
最高： 0.8314606741573034
最差： 0.7444444444444445

In [18]:
print('-----------(1)電影中兩位主角的生還推測-------------')
Rose=[[0,1]] #女性 頭等艙 蘿絲（Rose DeWitt Bukater）
Jack=[[1,3]] #男性 三等艙 傑克（Jack Dawson）
v=knn.predict(Rose)
if v==1:
  s='生還'
else:
  s='死亡'
print('Rose能生還嗎 ? ', s)           #Rose為女性,及坐頭等艙

v=knn.predict(Jack)
if v==1:
  s='生還'
else:
  s='死亡'
print('Jack能生還嗎 ? ', s)           #Jack為男性,及坐三等艙

-----------(1)電影中兩位主角的生還推測-------------
Rose能生還嗎 ?  生還
Jack能生還嗎 ?  死亡

In [19]:
# 真實的伊西多和伊達·斯特勞斯（Isidor and Ida Straus）夫婦 (You stay, I stay)
# http://www.epochtimes.com/b5/17/12/6/n9931745.htm
# Isidor 美國梅西百貨創辦人之一 
#
print('-----(2)真實的伊西多和伊達·斯特勞斯夫婦的生還推測-------')
Mrs=[[0,1]]    #女性 頭等艙 Straus, Mrs. Isidor (Rosalie Ida Blun)
Mr=[[1,1]] #男性 頭等艙 Straus, Mr. Isidor
v=knn.predict(Mrs)
if v==1:
  s='生還'
else:
  s='死亡'
print('Mrs. Straus能生還嗎 ? ', s)      #Ida為女性,及坐頭等艙，可優先搭乘救生艇存活
v=knn.predict(Mr)                  #Isidor的生存率有多高呢？
if v==1:
  s='生還'
else:
  s='死亡'
print('Mr. Straus能生還嗎 ? ', s)

-----(2)真實的伊西多和伊達·斯特勞斯夫婦的生還推測-------
Mrs. Straus能生還嗎 ?  生還
Mr. Straus能生還嗎 ?  死亡

In [20]:
# 真實的 Mrs. Brown
# https://hokkfabrica.com/her-story-margaret-brown-from-titanic/
#
print('-----------(3)真實的Mrs. Brown的生還推測-------------')
#女性 頭等艙 Brown, Mrs. James Joseph (Margaret Tobin) 故事中的暴發戶 對Jack很友善
Brown=[[0,1]]    
v=knn.predict(Brown)                     #Mrs. Brown呢？
if v==1:
  s='生還'
else:
  s='死亡'
print('Mrs. Brown能生還嗎 ? ', s)

-----------(3)真實的Mrs. Brown的生還推測-------------
Mrs. Brown能生還嗎 ?  生還

In [21]:
print('-------------- (5)若你也搭上了鐵達尼號呢？ ----------------')
s=input('您的性別（0：女，1：男），請輸入代碼？ ')
c=input('搭乘的船艙艙等（1：S艙，2：C艙，3：Q艙），請輸入代碼？ ')
you=[[int(s),int(c)]]
v=knn.predict(you)
if v==1:
  print('預測為:幸運生還')
else:
  print('預測為:無法生還')

-------------- (5)若你也搭上了鐵達尼號呢？ ----------------
您的性別（0：女，1：男），請輸入代碼？ 0
搭乘的船艙艙等（1：S艙，2：C艙，3：Q艙），請輸入代碼？ 0
預測為:幸運生還